@use "../../style/main.scss";




.portfolio-title {
    background-color: #f3f3f3;
    padding-left:1rem;
    padding-top: 3rem;
    padding-bottom: 2rem;

    .portfolio-img {
        margin-top:3rem;
    }
}   

.portfolio-list{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  
    flex-wrap: wrap;
    gap:10px;
    background-color: main.$background-color;
    padding:3rem;
    padding-bottom: 1rem;
    border: black 2px solid;
}