@use "../../../style/main.scss";

.card {
  width: 32%;
  height: 400px;
  background-color: main.$third-background-color;
  border: main.$primary-color 1px solid;
  opacity: 0;
  transform: scale(0); 

  &__text {
    padding: 0 1rem;
  }
}

/* Animation déclenchement animation */
.card.active {
  opacity: 1;
  animation: scaleIn 1s ease-out forwards;
}

/* Animation de grossissement*/
@keyframes scaleIn {
  0% {
    transform: scale(0); 
    opacity: 0;
  }
  100% {
    transform: scale(1); 
    opacity: 1; 
  }
}

.card-img {
  position: relative;
  width: 100%;
  height: 239px;
  overflow: hidden;
  border-bottom: main.$primary-color 1px solid;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Effet hover sur l'image et l'overlay */
.card-img:hover .overlay {
  opacity: 1;
}

.card-img:hover .image {
  opacity: 0.7;
}
